// single
#single-product {
    margin-top: 30px;
    @include small-lap {
        margin-top: 20px;
        font-size: 15px;
    }
    @include breakpoint(laptop) {
        margin-top: 20px;
        font-size: 15px;
    }
    @include breakpoint(tablet) {
        margin-top: 20px;
        font-size: 14px;
    }
    @include breakpoint(phone) {
        margin-top: 20px;
        font-size: 14px;
    }
    .images-holder {
        .item {
            img {
                width: 100%;
                border-radius:12px;
            }
        }
    }
    // content
    .product-content {
        padding-left: 70px;
        padding-top: 25px;
        @include small-lap {
            padding-left: 10px;
        }
        @include breakpoint(laptop) {
            padding-left: 0px;
        }
        @include breakpoint(tablet) {
            padding-top: 30px;
            padding-left: 0px;
        }
        @include breakpoint(phone) {
            padding-top: 30px;
            padding-left: 0px;
        }
        h2 {
            font-family: $font-bold;
            font-weight: bold;
            font-size: 2.688em;
            letter-spacing: 0.03em;
            line-height: 1.2em;
            color: #1b1919;
            margin-bottom: 10px;
            @include breakpoint(laptop) {
                font-size: 2.2em;
            }
        }
        span.price {
            font-family: $font-main;
            letter-spacing: 0.06em;
            line-height: 1.2;
            color: $brown;
            font-size: 1.813em;
            @include breakpoint(laptop) {
            }
        }
        .description {
            padding-top: 30px;
            p {
                margin-bottom: 25px;
                font-family: $font-light;
                font-size: 1.313em;
                letter-spacing: 0.03em;
                line-height: 1.4;
                color: #1b1919;
            }
            ul {
                li {
                    font-family: $font-light;
                    font-size: 1.250em;
                    letter-spacing: 0.03em;
                    line-height: 1.4;
                    color: #1b1919;
                    display: block;
                    padding-top: 5px;
                    padding-bottom: 5px;                    
                }
            }
        }
        // share
        footer {
            padding-top: 30px;
            small {
                color:$black;
                font-size: 1em;
                font-family: $font-semi;
            }
        }
    }
    // action btns
    #actin-btns {
        display: flex;
        margin-top: 60px;
        align-items: center;
        @include breakpoint(laptop) {
            margin-top: 40px;
            flex-wrap: wrap;
        }
        @include breakpoint(tablet) {
            margin-top: 30px;
        }
        @include breakpoint(phone) {
            margin-top: 30px;
            flex-wrap: wrap;
        }
        .counter-wrapper {
            width: 100%;
            width: 160px;
            display: inline-block;
            vertical-align: middle;
            border: 1px solid #d7d7d7;
            padding: 0 20px;

            .count-input {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                input {
                  width: 50px;
                  height: 64px;
                  border: 0;
                  background: none;
                  text-align: center;
                    font-family: $font-main;
                    font-weight: 300;
                    font-size: 1.3em;
                    color: $gray-light;
                    font-family: $font-sec;
                  &:focus {
                    outline: none;
                  }
                }
                button {
                    border:none;
                    background: none;
                    display: inline-block;
                }
                .incr-btn {
                    display: block;
                    position: absolute;
                    width: 20px;
                    height: 64px;
                    font-size: 18px;
                    font-weight: 300;
                    text-align: center;
                    line-height: 64px;
                    top: 0;
                    text-decoration: none;
                    color: #333333;
                    border:none!important;
                    font-size: 30px;
                    &:first-child {
                      right: auto;
                      left: 0;
                    }
                    &:hover {
                        color: $brown;
                    }
                    &.decrease {
                        left: 0;
                    }
                    &.increase {
                        right: 0;
                    }
                }
                &.count-input-sm {
                    max-width: 125px;
                    input {
                        height: 36px;
                    }
                }
                &.count-input-lg {
                    max-width: 200px;
                    input {
                        height: 70px;
                        border-radius: 3px;
                    }
                }
            }
            
        }
        .cart-btn {
            margin-right: 35px;
            margin-left: 25px;
            @include breakpoint(phone) {
                margin-left: 0px;
                margin-top: 15px;
                margin-bottom: 15px;
            }
            button {
                height: 65px;
                padding-left: 60px;
                padding-right: 60px;
                line-height: 65px;
                background: #d2bbaa;
                border:none;
                font-family: $font-sec;
                font-size: 1em;
                letter-spacing: 0.09em;
                text-align: center;
                color: $white;
                text-transform: uppercase;
                &:hover {
                    background: $black;
                }
            }
        }
        .wishlist {
            @include breakpoint(laptop) {
                margin-top: 15px;
            }
            button {
                border:none;
                background: none;
                text-transform: uppercase;
                font-family: $font-semi;
                font-size: 0.875;
                letter-spacing: 0.06em;
                color: #1b1919;
                position: relative;
                padding-left: 35px;
                i {
                    font-size: 22px;
                    position: absolute;
                    top:-1px;
                    left:0px;
                }
                &:hover {
                    color:$brown;
                }
            }
        }
    }
}

// related
#related-products {
    padding-top: 130px;
    padding-bottom: 120px;
    @include small-lap {
        padding-top: 100px;
        padding-bottom: 100px;
        font-size: 15px;
    }
    @include breakpoint(laptop) {
        font-size: 14px;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    @include breakpoint(tablet) {
        font-size: 14px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @include breakpoint(phone) {
        font-size: 14px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    header {
        text-align: center;
        padding-bottom: 35px;
        h4 {
            font-family: $font-med;;
            font-weight: 500;
            font-size: 3.000em;
            letter-spacing: 0.04em;
            color: #050505;
        }
    }
    // product
    .item {
        margin-left: 15px;
        margin-right: 15px;
    }
    .product-block {
        text-align: center;
        @include breakpoint(tablet) {
            margin-bottom: 40px;
        }
        @include breakpoint(phone) {
            margin-bottom: 30px;
        }
        .image-holder {
            overflow:hidden;
            border-radius:9px;
            position: relative;
            button.add-to-cart {
                @include centre(x);
                z-index:99999;
                bottom:30px;
                min-width: 190px;
                height: 59px;
                background: $brown;
                display: inline-block;
                font-family: $font-semi;
                font-size: 15px;
                letter-spacing: 0.03em;
                line-height: 59px;
                color: $white;
                border:none;
                text-transform: uppercase;
                opacity: 0;
                @include breakpoint(laptop) {
                    bottom:20px;
                    height: 55px;
                    min-width: 180px;
                }
                &:hover {
                    background: $white;
                    color:$brown;
                }                
            }
            img {
                width: 100%;
                border-radius:9px;
            }
            &:hover {
                .add-to-cart {
                    opacity: 1;
                }
                img {
                    transform: scale(1.1);
                }
            }
        }
        // content
        .content {
            padding-top: 30px;
            @include breakpoint(laptop) {
                padding-top: 20px;
            }
            @include breakpoint(phone) {
                padding-top: 20px;
            }
            h4 {
                font-family: $font-bold;
                font-size: 1.813em;
                letter-spacing: 0.06em;
                line-height: 1.275;
                margin-bottom: 10px;
                a {
                    color: $gray;
                    opacity: 0.9;
                    &:hover {
                        color:$brown;
                    }
                }
            }
            span.price {
                font-family: $font-main;
                font-size: 1.438em;
                letter-spacing: 0.02em;
                line-height: 36.5px;
                text-align: center;
                color: $gray;
                opacity: 0.9;                
            }
        }
    }    
}