// hero banner
#hero-banner {
    margin-top: 140px;
    @include small-lap {
        margin-top: 120px;
        font-size: 14px;
    }
    @include breakpoint(laptop) {
        font-size: 14px;
        margin-top: 120px;
    }
    @include breakpoint(tablet) {
        margin-top: 120px;
        font-size: 13px;
    }
    @include breakpoint(phone) {
        font-size: 13px;
        margin-top: 100px;
    }
    #hero-slider {
        .item {
            position: relative;
            img.slider-image {
                width: 100%;
                height: 725px;
                object-fit: cover;
                @include small-lap {
                    height: 650px;
                }
                @include breakpoint(laptop) {
                    height: 650px;
                }
                @include breakpoint(tablet) {
                    height: 600px;
                }
                @include breakpoint(phone) {
                    height: 500px;
                }
            }
            .caption {
                @include overlay;
                .container {
                    position: relative;
                    height: 100%;
                    .holder {
                        @include centre(y);
                        left:50px;
                        width: 45%;
                        @include breakpoint(laptop) {
                            width: 50%;
                        }
                        @include breakpoint(tablet) {
                            width: 55%;
                            left:15px;
                        }
                        @include breakpoint(phone) {
                            left:15px;
                            width: 90%;
                        }
                        h3 {
                            font-family: Didot;
                            font-weight: normal;
                            font-size: 2.750em;
                            letter-spacing: 0.02em;
                            line-height: 1.22;
                            color:$black;
                            font-family: $font-main;
                            font-weight: 400;
                            @include breakpoint(tablet) {
                                font-size: 2.25em;
                            }
                            @include breakpoint(phone) {
                                font-size: 2.3em;
                            }
                        }
                        p {
                            font-family: $font-italic;
                            font-weight: 500;
                            font-style: italic;
                            font-size: 2.063em;
                            letter-spacing: 0.02em;
                            line-height: 1.45;
                            color: $text;
                            margin-top: 40px;
                            @include breakpoint(tablet) {
                                margin-top: 30px;
                            }
                            @include breakpoint(tablet) {
                                font-size: 1.8em;
                            }
                            @include breakpoint(phone) {
                                font-size: 1.5em;
                                margin-top: 25px;
                            }
                        }
                        .btn-more {
                            @include regular-btn;
                            color:$white;
                            font-family: $font-semi;
                            font-size: 0.9em;
                            letter-spacing: 1px;
                            margin-top: 35px;
                            @include breakpoint(tablet) {
                                margin-top: 25px;
                            }
                            @include breakpoint(phone) {
                                margin-top: 25px;
                            }
                        }
                    }
                    // image holder
                    .image-holder {
                        @include centre(y);
                        right:200px;
                        @include small-lap {
                            right:150px;
                        }
                        @include breakpoint(laptop) {
                            right:0px;
                        }
                        @include breakpoint(tablet) {
                            right:0px;
                        }
                        @include breakpoint(phone) {
                            @include clear-pos;
                            right:auto;
                            display: none;
                        }
                        img {
                            @include small-lap {
                                width: 400px;
                            }
                            @include breakpoint(laptop) {
                                width: 400px;
                            }
                            @include breakpoint(tablet) {
                                width: 320px;
                            }
                            @include breakpoint(phone) {
                                width: 260px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// about
#about {
   padding-top: 70px;
   padding-bottom: 70px;
   padding-left: 50px;
   padding-right: 50px;
   @include small-lap {
       padding-top: 50px;
       padding-bottom: 50px;
       font-size: 15px;
   }
   @include breakpoint(laptop) {
       font-size: 14px;
       padding-top: 50px;
       padding-bottom: 50px;
       padding-left: 0px;
       padding-right: 0px;
   }
   @include breakpoint(tablet) {
       font-size: 14px;
       padding-top: 50px;
       padding-bottom: 30px;
       padding-left: 10px;
       padding-right: 10px;
   }
   @include breakpoint(phone) {
       font-size: 14px;
       padding-top: 30px;
       padding-bottom: 30px;
       padding-left: 5px;
       padding-right: 5px;
   }
   .container-fluid {
       display:flex;
       @include breakpoint(tablet) {
           display: block;
       }
       @include breakpoint(phone) {
           display: block;
       }
       // content
       .content {
           width: 50%;
           position: relative;
           @include breakpoint(tablet) {
               width: 100%;
           }
           @include breakpoint(phone) {
               width: 100%;
           }
           .holder {
               @include centre(both);
               width: 500px;
               text-align: center;
               @include breakpoint(laptop) {
                   width: 400px;
               }
               @include breakpoint(tablet) {
                   width: 100%;
                   @include clear-pos;
               }
               @include breakpoint(tablet) {
                   padding-left: 50px;
                   padding-right: 50px;
               }
               @include breakpoint(phone) {
                   width: 100%;
                   @include clear-pos;
               }
               &:before {
                   height: 150px;
                   width: 1px;
                   background: #969696;
                   content:'';
                   display: block;
                   @include centre(x);
                   top:-180px;
                   @include small-lap {
                       height: 100px;
                       top:-120px;
                   }
                   @include breakpoint(laptop) {
                       height: 50px;
                       top:-70px;
                   }
                   @include breakpoint(tablet) {
                       display: none;
                   }
                   @include breakpoint(phone) {
                       display: none;
                   }
               }
               &:after {
                   height: 150px;
                   width: 1px;
                   background: #969696;
                   content:'';
                   display: block;
                   @include centre(x);
                   bottom:-180px;
                   @include small-lap {
                       height: 100px;
                       bottom:-120px;
                   }
                   @include breakpoint(laptop) {
                       height: 50px;
                       bottom:-60px;
                   }
                   @include breakpoint(tablet) {
                       display: none;
                   }
                   @include breakpoint(phone) {
                       display: none;
                   }
               }               
               p {
                font-family: $font-italic;
                font-weight: 500;
                font-style: italic;
                font-size: 1.688em;
                letter-spacing: 0.04em;
                line-height: 1.4;
                color: $text-dark;
               }
           }
       }
       // image
       .video {
           width: 50%;
           @include breakpoint(tablet) {
               width: 100%;
           }
           @include breakpoint(phone) {
               width: 100%;
           }
           img.img-responsive {
               width: 100%;
           }
           // video slider
           #video-slider {
            @include breakpoint(tablet) {
                margin-top: 50px;
            }
            @include breakpoint(phone) {
                margin-top: 30px;
            }
               .item {
                   position: relative;
                   overflow:hidden;
                   a {
                       display: block;
                       position: relative;
                       width: 100%;
                       height: 100%;
                       &:hover {
                           img.img-responsive {
                               transform: scale(1.1);
                           }
                       }
                       .icon {
                           @include centre(both);
                           font-size: 80px;
                           color:#cf2021;
                           @include breakpoint(phone) {
                               width: 42px;
                           }
                       }
                   }
               }
           }
       }
   } 
}

// featured
#featured {
    padding-top: 100px;
    @include small-lap {
        padding-top: 70px;
        font-size: 15px;
    }
    @include breakpoint(laptop) {
        padding-top: 50px;
        font-size: 15px;
    }
    @include breakpoint(tablet) {
        padding-top: 30px;
        font-size: 14px;
    }
    @include breakpoint(phone) {
        padding-top: 30px;
        font-size: 14px;
    }
    .featured-block {
        position: relative;
        margin-bottom: 30px;
        overflow:hidden;
        background: $black;
        &:hover {
            img {
                transform: scale(1.1);
                opacity: 1;
            }
            .caption {
                background: $brown;
                h6 {
                    color:$white;
                }
            }
        }
        a {
            display: block;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 300px;
                object-fit: cover;
                opacity: 0.9;
                @include breakpoint(laptop) {
                    height: 220px;
                }
                @include breakpoint(tablet) {
                    height: 200px;
                }
            }
            .caption {
                @include centre(x);
                bottom:30px;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
                background: $white;
                width: 65%;
                display: block;
                @include animate-fade;
                @include breakpoint(laptop) {
                    bottom:20px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
                @include breakpoint(tablet) {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    bottom:20px;
                    width: 80%;
                }
                @include breakpoint(phone) {
                    padding-top: 17px;
                    padding-bottom: 17px;
                }
                h6 {
                    font-family: $font-main;
                    font-size: 1.188em;
                    letter-spacing: 0.06em;
                    line-height: 1.2;
                    color: $black;
                    @include animate-fade;
                    text-transform: uppercase;
                }
            }
        }
        &.featured-long {
            img {
                height: 630px!important;
                @include breakpoint(laptop) {
                    height: 470px!important;
                }
                @include breakpoint(tablet) {
                    height: 430px!important;
                }
                @include breakpoint(phone) {
                    height: 430px!important;
                }
            }
        }        
    }
}

// best sellers
#best-sellers {
    padding-top: 100px;
    padding-bottom: 100px;
    @include small-lap {
        padding-top: 60px;
        padding-bottom: 60px;
        font-size: 15px;
    }
    @include breakpoint(laptop) {
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 15px;
    }
    @include breakpoint(tablet) {
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 14px;
    }
    @include breakpoint(phone) {
        padding-top: 30px;
        padding-bottom: 3px;
        font-size: 14px;
    }
    header {
        text-align: center;
        padding-bottom: 35px;
        h4 {
            font-family: $font-heading;
            font-weight: 500;
            font-size: 2.875em;
            letter-spacing: 3px;
            line-height: 1.2;
            color: #050505;
            
        }
    }
    // product
    .product-block {
        text-align: center;
        @include breakpoint(tablet) {
            margin-bottom: 40px;
        }
        @include breakpoint(phone) {
            margin-bottom: 30px;
        }
        .image-holder {
            overflow:hidden;
            border-radius:9px;
            position: relative;
            button.add-to-cart {
                @include centre(x);
                z-index:99999;
                bottom:30px;
                min-width: 190px;
                height: 59px;
                background: $brown;
                display: inline-block;
                font-family: $font-semi;
                font-size: 15px;
                letter-spacing: 0.03em;
                line-height: 59px;
                color: $white;
                border:none;
                text-transform: uppercase;
                opacity: 0;
                @include breakpoint(laptop) {
                    bottom:20px;
                    height: 55px;
                    min-width: 180px;
                }
                &:hover {
                    background: $white;
                    color:$brown;
                }                
            }
            img {
                width: 100%;
                border-radius:9px;
            }
            &:hover {
                .add-to-cart {
                    opacity: 1;
                }
                img {
                    transform: scale(1.1);
                }
            }
        }
        // content
        .content {
            padding-top: 30px;
            @include breakpoint(laptop) {
                padding-top: 20px;
            }
            @include breakpoint(phone) {
                padding-top: 20px;
            }
            h4 {
                font-family: $font-bold;
                font-size: 1.813em;
                letter-spacing: 0.06em;
                line-height: 1.275;
                margin-bottom: 10px;
                a {
                    color: $gray;
                    opacity: 0.9;
                    &:hover {
                        color:$brown;
                    }
                }
            }
            span.price {
                font-family: $font-main;
                font-size: 1.438em;
                letter-spacing: 0.02em;
                line-height: 36.5px;
                text-align: center;
                color: $gray;
                opacity: 0.9;                
            }
        }
    }
}

// middle cta
#middle-cta {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
    background: url('../img/misc/cta-bg.jpg') no-repeat center center;
    background-size:cover;
    position: relative;
    @include small-lap {
        font-size: 14px;
        padding-top: 120px;
        padding-bottom: 120px;
    }
    @include breakpoint(laptop) {
        font-size: 14px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @include breakpoint(tablet) {
        font-size: 14px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @include breakpoint(phone) {
        font-size: 14px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .overlay {
        @include overlay;
        background: rgba(0,0,0,0.37);
    }
    .content {
        max-width: 700px;
        margin:0px auto;
        h3 {
            font-family: $font-med;
            font-weight: 500;
            font-size: 2.625em;
            letter-spacing: 0.03em;
            line-height: 1.42;
            text-align: center;
            color:$white;
        }
        p {
            color:$white;
            font-family: $font-italic;
            font-weight: 500;
            font-style: italic;
            font-size: 2.250em;
            letter-spacing: 0.01em;
            line-height: 1.44;
            color:$white;
            margin-top: 20px;
            margin-bottom: 40px;
            @include breakpoint(phone) {
                font-size: 2em;
            }
            
        }
        .btn-more {
            min-width: 190px;
            height: 59px;
            background: transparent;
            border: 2px solid $white;
            display: inline-block;
            font-family: $font-semi;
            font-size: 15px;
            letter-spacing: 0.03em;
            line-height: 59px;
            color: $white;
            @include small-lap {
                height: 55px;
                line-height: 55px;
                min-width: 180px;
            }
            @include breakpoint(laptop) {
                height: 55px;
                line-height: 55px;
                min-width: 180px;                
            }
            @include breakpoint(tablet) {
                height: 55px;
                line-height: 55px;
                min-width: 180px; 
            }
            @include breakpoint(phone) {
                height: 55px;
                line-height: 55px;
                min-width: 180px;                 
            }
            &:hover {
                background: $white;
                color:$brown;
            }
        }
    }
}

// instagram
#instagram-feed {
    padding-top: 100px;
    padding-bottom: 100px;
    @include small-lap {
        padding-top: 60px;
        padding-bottom: 60px;
        font-size: 15px;
    }
    @include breakpoint(laptop) {
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 15px;
    }
    @include breakpoint(tablet) {
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 15px;
    }
    @include breakpoint(phone) {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 14px;
    }
    header {
        text-align: center;
        padding-bottom: 40px;
        @include breakpoint(phone) {
            padding-bottom: 30px;
        }
        h4 {
            font-family: $font-main;
            font-weight: normal;
            font-size: 2.125em;
            letter-spacing: 0.03em;
            line-height: 1.2;
            color: #050505;
            i {
                font-weight: 300;
                margin-right: 10px;
                color:$brown;
                @include breakpoint(phone) {
                    margin-right: 5px;
                }
            }
        }
    }
    .image-holder {
        @include breakpoint(phone) {
            margin-bottom: 15px;
        }
        img {
            width: 100%;
            height: 330px;
            object-fit: cover;
            @include breakpoint(laptop) {
                height: 230px;
            }
            @include breakpoint(tablet) {
                height: 200px;
            }
            @include breakpoint(phone) {
                height: 230px;
            }
        }
        &:hover {
            .overlay {
                opacity: 1;
            }
        }
    }
    // overlay
    .overlay {
        @include overlay;
        background: rgba(255,255,255,0.8);
        opacity: 0;
        @include animate-fade;
        i {
            @include centre(both);
            color:$brown;
            font-weight: 300;
            font-size: 50px;
        }
    }
    // footer
    footer {
        padding-top: 45px;
        text-align: center;
        @include breakpoint(phone) {
            padding-top: 35px;
        }
        a {
            @include regular-btn;
        }
    }
}