// listing page
#products-listing__page {
    padding-top: 70px;
    padding-bottom: 100px;
    @include small-lap {
        padding-top: 50px;
        padding-bottom: 70px;
        font-size: 15px;
    }
    @include breakpoint(laptop) {
        font-size: 14px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @include breakpoint(tablet) {
        font-size: 14px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @include breakpoint(phone) {
        font-size: 14px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    // sidebar
    #product-sidebar {
        h5 {
            color:$brown;
            font-family: $font-bold;
            font-size: 1.375em;
            letter-spacing: 0.08em;
            line-height: 30px;
            opacity: 0.9;
            text-transform: uppercase;
            margin-bottom: 25px;
            @include breakpoint(laptop) {
                margin-bottom: 20px;
            }
            @include breakpoint(tablet) {
                margin-bottom: 20px;
            }
            @include breakpoint(phone) {
                margin-bottom: 20px;
            }
        }
        h4 {
            font-size: 1.188em;
            letter-spacing: 0.08em;
            line-height: 20px;
            color: #212121;
            opacity: 0.9;
            padding-top: 15px;
            padding-bottom: 15px;
            @include animate-fade;
            position: relative;
            &:after {
                @include font-ico;
                content:'\f105';
                @include centre(y);
                right:10px;
                font-weight: 300;
                font-size: 24px;
                color:#707070;
            }
            &:hover {
                cursor:pointer;
                color:$brown;
            }
            &:focus {
                outline:0;
            }
            &.ui-accordion-header-active {
                outline:0;
                &:after {
                    content:'\f107';
                }
            }
        }
        .filter-content {
            padding-top: 10px;
            padding-bottom: 10px;
            label {
                margin-bottom: 20px;
                font-size: 0.9em;
                color:#212121;
                font-family: $font-light;
            }
        }
        footer {
            text-align: center;
            padding-top: 40px;
            @include breakpoint(tablet) {
                padding-top: 20px;
            }
            @include breakpoint(phone) {
                padding-top: 2px;
            }
            input {
                width: 100%;
                height: 63px;
                background: #d2bbaa;
                line-height: 63px;
                border:none;
                font-family: $font-sec;
                font-size: 0.9em;
                color:$white;
                text-transform: uppercase;
                @include animate-fade;
                @include breakpoint(laptop) {
                    height: 55px;
                    line-height: 55px;
                }
                @include breakpoint(tablet) {
                    height: 55px;
                    line-height: 55px;
                }
                @include breakpoint(phone) {
                    height: 55px;
                    line-height: 55px;
                }
                &:hover {
                    background: $black;
                    cursor:pointer;
                }
            }
        }
    }
    // main content
    #main-listing {
        padding-left: 90px;
        @include breakpoint(laptop) {
            padding-left: 0px;
        }
        @include breakpoint(tablet) {
            padding-left: 0;
        }
        @include breakpoint(phone) {
            padding-left: 0;
        }
        // filter bar
        #filter-bar {
            border-bottom:1px solid rgba(112,112,112,0.2);
            padding-bottom: 15px;
            margin-bottom: 50px;
            @include small-lap {
                margin-bottom: 25px;
            }
            @include breakpoint(tablet) {
                margin-bottom: 25px;
            }
            @include breakpoint(phone) {
                margin-bottom: 20px;
            }
            .results-block {
                @include breakpoint(phone) {
                    text-align: center;
                    padding-bottom: 10px;
                }
                small {
                    font-family: $font-sec;
                    letter-spacing: 0.04em;
                    color: #1b1919;
                    font-size: 1em;
                    display: block;
                    height: 40px;
                    line-height: 40px;
                }
            }
            // sort
            .sort {
                text-align: right;
                font-family: $font-sec;
                letter-spacing: 0.04em;
                color: #1b1919;
                @include breakpoint(phone) {
                    text-align: center;
                }
                small {
                    font-size: 1em; 
                    display: inline-block;
                    margin-right: 10px;
                }        
                .btn-group {
                    border-radius:0px;
                    height: 40px;
                    @include breakpoint(laptop) {
                        width: 150px;
                    }
                    @include breakpoint(tablet) {
                        width: 150px;
                    }
                    &:focus {
                        outline:0!important;
                    }                    
                    .btn {
                        border-radius:0px;
                        font-size: 0.875em;
                        color:$black;
                        height: 40px;
                        &:focus {
                            outline:0!important;
                        }
                    }
                }  
                .dropdown-menu {
                    box-shadow:none;
                    border-radius:0px;
                    font-size: 0.875em;
                    opacity: 0.9;
                }     
            }
        }
        // product
    // product
    .product-block {
        text-align: center;
        margin-bottom: 40px;
        @include breakpoint(tablet) {
            margin-bottom: 40px;
        }
        @include breakpoint(phone) {
            margin-bottom: 30px;
        }
        .image-holder {
            overflow:hidden;
            border-radius:9px;
            position: relative;
            button.add-to-cart {
                @include centre(x);
                z-index:99999;
                bottom:30px;
                min-width: 190px;
                height: 59px;
                background: $brown;
                display: inline-block;
                font-family: $font-semi;
                font-size: 15px;
                letter-spacing: 0.03em;
                line-height: 59px;
                color: $white;
                border:none;
                text-transform: uppercase;
                opacity: 0;
                @include breakpoint(laptop) {
                    bottom:20px;
                    height: 55px;
                    min-width: 180px;
                }
                &:hover {
                    background: $white;
                    color:$brown;
                }                
            }
            img {
                width: 100%;
                border-radius:9px;
            }
            &:hover {
                .add-to-cart {
                    opacity: 1;
                }
                img {
                    transform: scale(1.1);
                }
            }
        }
        // content
        .content {
            padding-top: 30px;
            @include breakpoint(laptop) {
                padding-top: 20px;
            }
            @include breakpoint(phone) {
                padding-top: 20px;
            }
            h4 {
                font-family: $font-bold;
                font-size: 1.813em;
                letter-spacing: 0.06em;
                line-height: 1.275;
                margin-bottom: 10px;
                @include breakpoint(laptop) {
                    font-size: 1.6em;
                }
                @include breakpoint(tablet) {
                    font-size: 1.6em;
                }
                a {
                    color: $gray;
                    opacity: 0.9;
                    &:hover {
                        color:$brown;
                    }
                }
            }
            span.price {
                font-family: $font-main;
                font-size: 1.438em;
                letter-spacing: 0.02em;
                line-height: 36.5px;
                text-align: center;
                color: $gray;
                opacity: 0.9;                
            }
        }
        }        
    }
}