/*================================
=            Practice            =
================================*/
#block-practice .block-image {
  float: right;
  width: 50%;
  height: 555px;
  background: #000; }

/*=====  End of Practice  ======*/
