// footer
#page-footer {
    background: $footer-bg;
    padding-top: 45px;
    padding-bottom: 80px;
    position: relative;
    @include breakpoint(laptop) {
        padding-top: 45px;
        padding-bottom: 65px;
    }
    @include breakpoint(tablet) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @include breakpoint(phone) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    @include small-lap {
        padding-top: 35px;
        padding-bottom: 35px;
        font-size: 15px;
    }
    @include breakpoint(laptop) {
        padding-top: 35px;
        padding-bottom: 35px;
        font-size: 15px;
    }
    @include breakpoint(tablet) {
        font-size: 14px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    // fotoer info
    .footer-info {
        text-align: center;
        .socials {
            margin-top: 30px;
            @include breakpoint(phone) {
                margin-top: 20px;
            }
            li {
                display: inline-block;
                a {
                    display: inline-block;
                    font-size: 20px;
                    color:$brown;
                    width: 50px;
                    height: 50px;
                    margin-left: 5px;
                    margin-right: 5px;
                    border:1px solid #eee6db;
                    border-radius:50%;
                    text-align: center;
                    line-height: 50px;
                    @include breakpoint(tablet) {
                        width: 46px;
                        height: 46px;
                        line-height: 46px;
                        font-size: 18px;
                    }
                    @include breakpoint(phone) {
                        width: 42px;
                        height: 42px;
                        line-height: 42px;
                        font-size: 18px;
                    }
                    &:hover {
                        background: $brown;
                        color:$white;
                    }
                }
            }
        }
    }
    // sitemap
    .footer-links {
        margin-top: 50px;
        .footer-sitemap {
            @include breakpoint(phone) {
                margin-bottom: 30px;
            }
            span.title {
                text-transform: uppercase;
                font-family: $font-heading;
                font-weight: 400;
                color:$white;
                margin-bottom: 23px;
                display:block;
                font-size: 1.313em;
                opacity: 0.9;
                letter-spacing: 0.03em;
                @include breakpoint(phone) {
                    margin-bottom: 15px;
                }
            }
            ul {
                li {
                    a {
                        display: block;
                        font-size: 1em;
                        padding-top: 12px;
                        padding-bottom: 12px;
                        font-family: $font-light;
                        font-weight: 300;
                        color:$white;
                        &:hover {
                            color:$brown;
                        }
                    }
                }
            }
        }
        // footer contact
        .footer-contact {
            span.title {
                text-transform: uppercase;
                font-family: $font-heading;
                font-weight: 400;
                color:$white;
                margin-bottom: 23px;
                display:block;
                font-size: 1.313em;
                opacity: 0.9;
                letter-spacing: 0.03em;                
            }
            .content {
                padding-top: 10px;
            }
            .cards {
                margin-top: 30px;
                display: flex;
                .card-block {
                    margin-right: 10px;
                    i {
                        font-size: 42px;
                        color:$brown;
                        @include breakpoint(tablet) {
                            font-size: 28px;
                        }
                    }
                }
            }
            .socials {
                margin-bottom: 30px;
                li {
                    display: inline-block;
                    a {
                        display: inline-block;
                        font-size: 20px;
                        color:$white;
                        width: 50px;
                        height: 50px;
                        margin-left: 5px;
                        margin-right: 5px;
                        border:1px solid #eee6db;
                        border-radius:50%;
                        text-align: center;
                        line-height: 50px;
                        @include breakpoint(tablet) {
                            width: 46px;
                            height: 46px;
                            line-height: 46px;
                            font-size: 18px;
                            margin-bottom: 15px;
                        }
                        @include breakpoint(phone) {
                            width: 42px;
                            height: 42px;
                            line-height: 42px;
                            font-size: 18px;
                        }
                        &:hover {
                            background: $brown;
                            color:$white;
                            border-color:$brown;
                        }
                    }
                }                
            }
            p {
                margin-bottom: 20px;
                font-size: 1em;
                font-family: $font-light;
                font-weight: 300;
                color:$white;
                a {
                    color:$white;
                    @include breakpoint(tablet) {
                        display:block;
                        padding-left: 25px;
                        padding-top: 5px;
                    }
                    &:hover {
                        color:$brown;
                    }
                }
                i {
                    color:$white;   
                    margin-right: 10px;
                }
            }
        }
    }
}

// copy bar
#copy-bar {
    background: $footer-bg;
    border-top:1px solid rgba(255,255,255,0.3);
    padding-top: 30px;
    padding-bottom: 30px;
    @include small-lap {
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 15px;
    }
    @include breakpoint(laptop) {
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 15px;
    }
    @include breakpoint(tablet) {
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 14px;
    }
    @include breakpoint(phone) {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 15px;
    }
    .container {
        display:flex;
        justify-content: space-between;
        position: relative;
        @include breakpoint(phone) {
            display: block;
        }
        // to top
        .to-top {
            background: $white;
            display: block;
            width: 50px;
            height: 50px;
            border-radius:100%;
            text-align: center;
            position: absolute;
            right:0px;
            top:-55px;
            color:#707070;
            @include breakpoint(phone) {
                right:5px;
                width: 44px;
                height: 44px;
                top:-45px;
            }
            i {
                @include centre(both);
                font-size: 26px;
            }
            &:hover {
                background: $brown;
                color:$white;
            }
        }
    }
    // ntice
    .copy-notice {
        width: 100%;
        text-align: center;
        @include breakpoint(phone) {
            width: 100%;
            text-align: center;
        }
        small {
            font-family: $font-light;
            font-weight: 300;
            font-size: 0.9;
            letter-spacing: 0.02em;
            line-height: 1.2;
            color:$white;
           
        }
    }
    // powered
    .powered-by {
        text-align: right;
        margin:auto;
        width: 50%;
        padding-right: 100px;
        @include breakpoint(phone) {
            padding-right: 0px;
            width: 100%;
            text-align: center;
            padding-top: 15px;
        }
        p {
            font-family: $font-light;
            font-weight: 300;
            font-size: 0.9;
            letter-spacing: 0.02em;
            line-height: 1.2;
        }
    }
}