// top
#top {
    background: $white;
    @include animate-fade;
    @include small-lap {
        font-size: 15px;
    }
    @include breakpoint(laptop) {
        font-size: 15px;
    }
    @include breakpoint(tablet) {
        font-size: 14px;
    }
    @include breakpoint(phone) {
        font-size: 14px;
    }
    // top bar
    #top-bar {
        background: $gray-bg;
        @include animate-fade;
        font-family: $font-sec;
        .container {
            display: flex;
            height: 52px;
            justify-content: space-between;
            align-items: center;
            @include small-lap {
                height: 42px;
            }
            @include breakpoint(laptop) {
                height: 42px;
            }
            @include breakpoint(tablet) {
                height: 42px;
            }
            @include breakpoint(phone) {
                height: 42px;
            }
        }
        // info 
        .top-bar__info {
            width: 50%;
            p {
                text-transform: uppercase;
                font-size: 0.750em;
                color:$white;
                a {
                    color:$white;
                    &:hover {
                        color:$brown;
                    }
                }
            }
        }
        // links
        .top-bar__links {
            text-align: right;
            width: 50%;
            @include breakpoint(phone) {
                text-align: center;
                width: 100%;
            }
            ul {
                li {
                    display: inline-block;
                    a {
                        display: inline-block;
                        font-size: 0.750em;
                        color:$white;
                        padding-left: 10px;
                        padding-right: 10px;
                        i {
                            margin-right: 10px;
                            color:$white;
                            @include animate-fade;
                        }
                        &:hover {
                            color:$brown;
                            i {
                                color:$brown;
                            }
                        }
                    }
                }
            }
        }
    }
    // menu bar
    #menu-bar {
        border-bottom:1px solid #efefef;
        .container {
            display: flex;
            height: 88px;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;
            @include small-lap {
                height: 78px;
            }
            @include breakpoint(laptop) {
                height: 78px;
            }
            @include breakpoint(tablet) {
                height: 78px;
            }
            @include breakpoint(phone) {
                height: 68px;
            }
            // logo
            .branding {
                // width: 25%;
                width: 170px;
                @include breakpoint(laptop) {
                    width: 140px;
                }
                @include breakpoint(tablet) {
                    width: 140px;
                }
                @include breakpoint(phone) {
                    width: 130px;
                }
                img {
                    @include small-lap {
                        width: 80px;
                    }
                    @include breakpoint(laptop) {
                        width: 80px;
                    }
                    @include breakpoint(phone) {
                        width: 75px;
                    }
                    @include breakpoint(tablet) {
                        width: 80px;
                    }
                }
            }   
            // main menu  
            #main-menu {
                // width: 50%;
                margin-left: 150px;
                width: calc(100% - 490px);
                @include breakpoint(desktop) {
                    margin-left: 100px;
                    width: calc(100% - 440px);
                }
                @include breakpoint(laptop) {
                    margin-left: 20px;
                    width: calc(100% - 260px);                    
                }
                @include breakpoint(phone) {
                    display: none!important;
                }
            } 
            // actions bar
            #actions-bar {
                // width: 25%;
                width: 150px;
                text-align: right;
                margin-left: auto;
                @include breakpoint(laptop) {
                    width: 100px;
                }
                @include breakpoint(phone) {
                    width: 100px;
                }
                ul {
                    li {
                        display: inline-block;
                        a {
                            display: inline-block;
                            color:#58594A;
                            font-size: 20px;
                            &:hover {
                                color:$brown;
                            }
                        }
                    }
                }
            } 
        }
    }
}

// stickly
.sticky {
  margin-top: -52px!important;  
  @include small-lap {
      margin-top: -42px!important;
  }
  @include breakpoint(laptop) {
      margin-top: -42px!important;
  }
  @include breakpoint(tablet) {
    margin-top: -42px!important;
  }
  @include breakpoint(phone) {
    margin-top: 0px!important;
  }  
    .branding {
        img {
            @include breakpoint(tablet) {
                width: 80px!important;
            }
        }
    }  
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background: none!important;
}

// header off
 #page-top {
     position: absolute;
     top:-100px;
 }

 // inner heder
 #inner-header {
     text-align: center;
     margin-top: 140px;
     background: #707070;
     padding-top: 70px;
     padding-bottom: 70px;
     @include small-lap {
         margin-top: 120px;
         font-size: 14px;
     }
     @include breakpoint(laptop) {
         font-size: 14px;
         margin-top: 120px;
     }
     @include breakpoint(tablet) {
         margin-top: 120px;
         font-size: 13px;
         padding-top: 50px;
         padding-bottom: 50px;
     }
     @include breakpoint(phone) {
         font-size: 13px;
         margin-top: 100px;
         padding-top: 50px;
         padding-bottom: 50px;
     }    
     .content {
        h1 {
            font-family: Didot;
            font-weight: normal;
            font-size: 2.375em;
            letter-spacing: 0.01em;
            line-height: 1.1;
            color: $white;
            
        }
     } 
     .breadcrumb {
         padding-top: 15px;
         ul {
             li {
                 display: inline-block;
                 a {
                     display: inline-block;
                     color:$white;
                     font-size: 0.875em;
                     font-family: $font-sec;
                     padding-left: 10px;
                     padding-right: 10px;
                     position: relative;
                     &:after {
                         @include font-ico;
                         content:'\f105';
                         right:-4px;
                     }
                     &:hover {
                         opacity: 0.8;
                     }
                 }
                 &:last-child {
                     a {
                         &:after {
                             display: none;
                         }
                     }
                 }
             }
         }
     }
 }

 // breadcrumb
 #breadcrumb-nav {
    margin-top: 140px;
    padding-top: 25px;
    padding-bottom: 25px;
    @include small-lap {
        margin-top: 120px;
        font-size: 14px;
    }
    @include breakpoint(laptop) {
        font-size: 14px;
        margin-top: 120px;
    }
    @include breakpoint(tablet) {
        margin-top: 120px;
        font-size: 13px;
    }
    @include breakpoint(phone) {
        font-size: 13px;
        margin-top: 100px;
    }   
    ul {
        li {
            display: inline-block;
            a {
                display: inline-block;
                font-size: 0.875em;
                font-family: $font-sec;
                padding-left: 10px;
                padding-right: 10px;
                position: relative;
                color:#747474;
                &:after {
                    @include font-ico;
                    content:'\f105';
                    right:-4px;
                }
                &:hover {
                    opacity: 0.8;
                }
            }
            &:last-child {
                a {
                    color:#A7A7A7;
                    &:hover {
                        color:$brown;
                    }
                    &:after {
                        display: none;
                    }
                }
            }
        }
    } 
 }