/**
 *
 * Fonts and default styling
 *
 */

/*=============================
=            Fonts            =
=============================*/

@include font-face('Didot', '../fonts/Didot', normal, normal);
@include font-face('DidotBold', '../fonts/Didot-HTF-B06-Bold', bold, normal);
@include font-face('DidotMed', '../fonts/Didot-HTF-M96-Medium', 500, normal);
@include font-face('DidotIt', '../fonts/Didot-HTF-L11-Light-Ital', 500, normal);

@include font-face('manlight', '../fonts/Manrope3-Light', 300, normal);
@include font-face('Manrope3med', '../fonts/Manrope3-Medium', 500, normal);
@include font-face('Manrope3medregular', '../fonts/Manrope3-Regular', normal, normal);

/*============================================
=            Define Var for Fonts            =
============================================*/

$font-main:'Didot';
$font-heading:'DidotMed';
$font-med:'DidotMed';
$font-bold:'DidotBold';
$font-italic:'DidotIt';

$font-light:'manlight';
$font-semi:'Manrope3med';
$font-sec:'Manrope3medregular';

/*=====  End of Define Var for Fonts  ======*/

/*===================================
=            Body Styles            =
===================================*/

body {
	font: {
		size:$base-size;
		family: $font-main;
	}
	-webkit-text-size-adjust: 100%;  //fix for iOS
	overflow-x:hidden;
}

html {
	font-size: $base-size;
}

a {
	@include animate-fade;
	&:hover {
		text-decoration: none;
	}
	&:focus {
		outline: 0;
		text-decoration: none;
	}
}

/*=====  End of Body Styles  ======*/

/*=============================================
=            General Styles            =
=============================================*/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1;
  font-family: $font-heading;
  font-weight: normal;
}

img {
	@include animate-fade;
}

p {
	font-size: 1em;
	color:$text;
}


/*=====  End of General Styles  ======*/

