/**
 *
 * Variables
 *
 */


/*===================================
=            Base Colors            =
===================================*/

$white:#fff;
$black:#000;
$brown:#D2BBAA;

$gray:#333333;

/*=====  End of Base Colors  ======*/

/*=====================================
=            Custom colors            =
=====================================*/

$text:#747474;
$text-dark:#333333;
$gray-bg:#848484;
$heding:$black;
$heading-gray:#050505;
$footer-bg:#848484;

/*=====  End of Custom colors  ======*/

/*====================================
=            Font Weights            =
====================================*/

$bold: 700;
$semi-bold: 600;
$regular: 400;
$light: 300;

/*=====  End of Font Weights  ======*/

/*==================================
=            Font Sizes            =
==================================*/

$base-size: 16px;

/*=====  End of Font Sizes  ======*/
