/**
 *
 * Custom Mixins
 *
 */

/*=================================
=            Animation            =
=================================*/

@mixin animate-fade {
    transition: .25s ease-in-out;
}

/*=====  End of Animation  ======*/

/*=============================
=            Fonts            =
=============================*/

@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
    @font-face {
        font-family: quote($font-name);
        src: url($file-name + '.eot');
        src: url($file-name + '.eot?#iefix') format('embedded-opentype'),
        url($file-name + '.woff') format('woff'),
        url($file-name + '.ttf') format('truetype'),
        url($file-name + '.svg##{$font-name}') format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

/*=====  End of Fonts  ======*/

/*=====================================
=            Custom Mixins            =
=====================================*/

@mixin push-auto {
    margin: {
        left: auto;
        right: auto;
    }
}

@mixin max-col {
    .container {
        height: 100%;
        position: relative;
        .row {
            height: 100%;
        }
    }
}

@mixin all-coll {
    *[class^='col-'] {
        position: relative;
    }    
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters>[class^="col-"],
.row.no-gutters>[class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

@mixin abs-position ($top, $right, $bottom, $left) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin font-ico {
    display: inline-block;
    font: normal normal normal 14px/1 'Font Awesome 5 Pro';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    position: absolute;
}

@mixin clear-pos {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
}

@mixin small-lap {
    @media screen and (min-width: 1025px) and (max-height: 767px) {
        @content;
    }
}

@mixin overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

@mixin regular-btn {
    height: 60px;
    line-height: 60px;
    background: $brown;
    padding-left: 50px;
    padding-right: 50px;
    display: inline-block;
    position: relative;
    color:$white;
    font-family: $font-semi;
    letter-spacing: 1px;
    @include small-lap {
        height: 55px;
        line-height: 55px;
        padding-left: 45px;
        padding-right: 45px;
    }
    @include breakpoint(laptop) {
        height: 55px;
        line-height: 55px;
        padding-left: 45px;
        padding-right: 45px;        
    }
    @include breakpoint(tablet) {
        height: 55px;
        line-height: 55px;
        padding-left: 45px;
        padding-right: 45px;
    }
    @include breakpoint(phone) {
        height: 50px;
        line-height: 50px;
        padding-left: 40px;
        padding-right: 40px;
    }
    &:hover {
        box-shadow: 0 5px 15px rgba(210, 187, 170, .7);
        &:after {
            opacity: 1;
            width: 100%;
        }
    }
    span {
        z-index:2;
        position: relative;
    }
    &:after {
        @include overlay;
        background: $gray;
        opacity: 0;
        content:'';
        display: block;
        z-index:0;
        width: 0px;
        @include animate-fade;
    }
}

/*=====  End of Custom Mixins  ======*/



/*=============================
=            Align            =
=============================*/


@mixin centre($axis: "both") {
    position: absolute;

    @if $axis=="y" {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    @if $axis=="x" {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    @if $axis=="both" {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

/*=====  End of Align  ======*/

/*=====================================
=            Color pallete            =
=====================================*/

@function palette($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}

/*=====  End of Color pallete  ======*/

/*================================
=            Triangle            =
================================*/

@mixin css-triangle($color, $direction, $size: 6px, $position: absolute, $round: false) {
    @include pseudo($pos: $position);
    width: 0;
    height: 0;

    @if $round {
        border-radius: 3px;
    }

    @if $direction==down {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;
        margin-top: 0 - round($size / 2.5);
    }

    @else if $direction==up {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;
        margin-bottom: 0 - round($size / 2.5);
    }

    @else if $direction==right {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
        margin-right: -$size;
    }

    @else if $direction==left {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size solid $color;
        margin-left: -$size;
    }
}

/*=====  End of Triangle  ======*/

/*===================================
=            Placeholder            =
===================================*/

@mixin input-placeholder {
    &.placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }

    &::-webkit-input-placeholder {
        @content;
    }
}

/*=====  End of Placeholder  ======*/

/*================================
=            Clearfix            =
================================*/

%clearfix {
    *zoom: 1;

    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

// @extend %clearfix;

/*=====  End of Clearfix  ======*/

/*================================
=            Gradient            =
================================*/

@mixin background-gradient($start-color, $end-color, $orientation) {
    background: $start-color;

    @if $orientation=='vertical' {
        background: -webkit-linear-gradient(top, $start-color, $end-color);
        background: linear-gradient(to bottom, $start-color, $end-color);
    }

    @else if $orientation=='horizontal' {
        background: -webkit-linear-gradient(left, $start-color, $end-color);
        background: linear-gradient(to right, $start-color, $end-color);
    }

    @else {
        background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
        background: radial-gradient(ellipse at center, $start-color, $end-color);
    }
}

// @include background-gradient(red, black, 'vertical');


/*=====  End of Gradient  ======*/

/*=====================================
=            Quick Padding            =
=====================================*/

@mixin padding($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

//Margin mixin
@mixin margin($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

// @include padding(1px, 2px, 3px, 4px,);
// @include margin(1px, 2px, 3px, 4px);
// @include padding(1px, null, 3px, 4px);

/*=====  End of Quick Padding  ======*/